/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: red;
    align-items: center;
}

.view-container{
    padding: 2px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
}