/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.btn{
    background-color: black;
    color: #f5f5f5;
     width: 20px;
    height: 20px;
    display: inline-block; 
    line-height: 20px; 
    text-align: center;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
}
.btn-big-main-bar{
    font-size: 1.3em;
    color: #a7a7a7;
    background-color: inherit;
    border: none;
}
.text-main-bar{
    color: #a7a7a7;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: capitalize;
}
.btn-big-main-bar.green, .text-main-bar.green, .btn-small-main-bar.green{
    color: #00da64;
}

.btn-big-main-bar.btn-end{
    background-color: #b92e2d;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
}
 .btn-small-main-bar{
    font-size: 1em;
    color: #a7a7a7;
    background-color: inherit;
    border: none;
} 


/* HEADER */
header{
    height: 30px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    background-color: #181818;
    align-items: center;
}

.view-menu, .recording-bar{
    padding: 2px;
    color: #f5f5f5;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: green;
}

/* MAIN */

main{
    height: calc(100vh - 90px);
    background-color: #181818;
}
.container{
    padding-top: 30px;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    overflow-y: scroll;
}

.user{
    width: calc(100% /6 - 30px);
    height: 200px;
    display: flex;
    background-image: url(https://picsum.photos/200);
    background-position: center;
    background-size: cover;
    border: 1px solid transparent;
    border-radius: 10px;
    align-items: flex-end;
}
.user .name{
    width: 50%;
    color: white;
    background-color: #2f2e38;
    border: 1px solid transparent;
    border-radius: 5px;
}
.user .name i{
    color: #d43232;
}
/* ASK TO UNMUTE SULL' HOVER ALL' ELEMENTO */
.user .active{
    width: 50%;
    align-self: flex-start;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    display: none;
    gap: 3px;
}
.user:hover .active{
    display: flex;
}

.user .active > *{
    line-height: 20px;
    padding: 0 3px;
    display: inline-block;
    color: white;
    background-color: blue;
    border: 1px solid transparent;
    border-radius: 3px;
}
/* FOOTER */
footer{
    height: 60px;
    padding-left:10px;
    display: flex;
    background-color: #212121;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
footer li{
    display: inline-block;
    text-align: center;
}
footer > *{
    width: calc(100%/3);
}

.end{
    /* display: flex;
    flex-direction: row-reverse; */
    text-align: right;
    padding-right: 10px;
}
.actions{
    display: flex;
    justify-content: center;
    align-items: center;
}


