/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.btn{
    background-color: black;
    color: #f5f5f5;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
}
.btn-big-main-bar{
    font-size: 1.5em;
    color: #a7a7a7;
    background-color: inherit;
    border: none;
}

.btn-big-main-bar.btn-end{
    background-color: #b92e2d;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
}
/* .btn-small-main-bar{
    font-size: 1em;
    color: #a7a7a7;
    background-color: inherit;
    border: none;
    margin-left: 20px;
} */
.text-main-bar{
    color: #a7a7a7;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: capitalize;
}

/* HEADER */
header{
    padding:3px;
    display: flex;
    justify-content: space-between;
    background-color: #181818;
    align-items: center;
}

.view-menu, .recording-bar{
    padding: 2px;
    color: #f5f5f5;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: green;
}

/* MAIN */
/* FOOTER */
footer{
    padding: 5px 10px;
    display: flex;
    background-color: #212121;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
footer li{
    display: inline-block;
    text-align: center;
}
footer > *{
    width: calc(100%/3);
}

.end{
    display: flex;
    flex-direction: row-reverse;
}


